CREATE TABLE AUX_CRITERIOS
(
  AUXCR_CODIGO 		INTEGER IDENTITY(1,1)	  NOT NULL,
  AUXCR_EMPS_CODIGO	VARCHAR(5)    NULL,
  AUXCR_MATRICULA	VARCHAR(30)   NULL,
  AUXCR_DESCRICAO	VARCHAR(100)  NULL,
  AUXCR_VALOR 		VARCHAR(19)   NULL,
  AUXCR_OPERACAO		VARCHAR(1)    NULL, 
  AUXLG_MOMENTO 		DATETIME      NULL,
  AUXLG_CHAVE_LOG 	VARCHAR(55)   NULL ,
  CONSTRAINT PK_AUX_CRITERIOS PRIMARY KEY (AUXCR_CODIGO )
)
CREATE INDEX ID_AUXLG_CHAVE_LOG_CR ON AUX_CRITERIOS (AUXLG_CHAVE_LOG)
GRANT SELECT,INSERT,UPDATE,DELETE ON AUX_CRITERIOS TO RL_USUARIO_AUXILIAR
GO
