CREATE TABLE AUX_VERBA (
  AUXVE_CODIGO		INTEGER IDENTITY(1,1)	  NOT NULL,
  AUXEM_EMPS_CODIGO	VARCHAR(5)	NULL,
  AUXFU_MATRICULA	VARCHAR(15)	NULL,
  AUXVE_INT_CODIGO	VARCHAR(6)	NULL,  
  AUXVE_VER_CODIGO	VARCHAR(10)	NULL,
  AUXVE_VER_TIPO		VARCHAR(1)	NULL,
  AUXVE_VER_VALOR	NUMERIC(11,2)	NULL,
  AUXVE_VER_ORIGEM	VARCHAR(1)	NULL,
  AUXVE_NUM_TENTATIVAS	INTEGER         NULL,   
  AUXLG_MOMENTO		DATETIME	NULL,
  AUXLG_CHAVE_LOG	VARCHAR(55)	NULL,

  CONSTRAINT PK_AUX_VERBA PRIMARY KEY (AUXVE_CODIGO) )

CREATE INDEX ID_AUXLG_CHAVE_LOG_VE ON AUX_VERBA (AUXLG_CHAVE_LOG)
GRANT SELECT,INSERT,UPDATE,DELETE ON AUX_VERBA TO RL_USUARIO_AUXILIAR
GO