CREATE TABLE AUX_EMPRESA (
  AUXEM_CODIGO 		INTEGER IDENTITY(1,1)	  NOT NULL,
  AUXEM_EMPS_CODIGO	VARCHAR(5)	NULL,
  AUXEM_EMPR_CODIGO	VARCHAR(20)	NULL,
  AUXEM_EMPR_NOME	VARCHAR(100)	NULL, 
  AUXEM_EMPR_FANTASIA	VARCHAR(15)	NULL,
  AUXEM_EMPR_CNPJ	VARCHAR(20)	NULL,
  AUXEM_EMPR_LOGRADOURO	VARCHAR(100)	NULL,
  AUXEM_EMPR_NUMERO	VARCHAR(10)	NULL,
  AUXEM_EMPR_COMPLEMENTO	VARCHAR(255)	NULL,
  AUXEM_EMPR_BAIRRO	VARCHAR(50)	NULL,
  AUXEM_EMPR_CIDADE	VARCHAR(50)	NULL,
  AUXEM_EMPR_ESTADO	VARCHAR(2)	NULL,
  AUXEM_EMPR_CEP 	VARCHAR(20)	NULL,
  AUXEM_EMPR_TELEFONE	VARCHAR(20)	NULL,
  AUXEM_EMPR_CPFRESPONSAVELREP	VARCHAR(14)	NULL,
  AUXEM_OPERACAO		VARCHAR(1)	NULL,
  AUXLG_MOMENTO		DATETIME	NULL,
  AUXLG_CHAVE_LOG	VARCHAR(55)	NULL,
  CONSTRAINT PK_AUXILIAR_EMPRESA PRIMARY KEY (AUXEM_CODIGO))
 
CREATE INDEX ID_AUXLG_CHAVE_LOG_EM ON AUX_EMPRESA (AUXLG_CHAVE_LOG)
GRANT SELECT,INSERT,UPDATE,DELETE ON AUX_EMPRESA TO RL_USUARIO_AUXILIAR
GO