CREATE TABLE AUX_MARCACAO (
  AUXMA_CODIGO		BIGINT IDENTITY(1,1)	  NOT NULL,
  AUXMA_PON_SEQUENCIAL   NUMERIC(10,0) 	NULL, 
  AUXEM_EMPS_CODIGO       VARCHAR(5)    	NULL,
  AUXFU_MATRICULA        VARCHAR(30)   	NULL,
  AUXMA_PON_DATA         DATETIME      	NULL,
  AUXMA_PIL_DATA         DATETIME      	NULL,
  AUXMA_PIL_HORA         NUMERIC(6,0) 	NULL,
  AUXMA_PON_TIPO  	VARCHAR(1)      NULL,   
  AUXMA_REL_CODIGO       VARCHAR(10)    	NULL,
  AUXMA_PIL_ORIGEM       VARCHAR(1)    	NULL,
  AUXMA_PIL_NSR          VARCHAR(9)    	NULL,
  AUXMA_PIL_PIS		VARCHAR(12)   	NULL,
  AUXMA_PIL_DATAHORA	DATETIME      	NULL, 
  AUXMA_NUM_TENTATIVAS	INTEGER       	NULL,   
  AUXLG_MOMENTO		DATETIME      	NULL,
  AUXLG_CHAVE_LOG	VARCHAR(55)   	NULL,
  AUXFU_NOME		VARCHAR(100)	NULL,
  AUXLO_COD_LOTACAO	VARCHAR(30)	NULL,
  AUXFU_PESS_CATEGORIA	VARCHAR(30) 	NULL,
  AUXMA_LOC_DESCRICAO	VARCHAR(100) 	NULL,
  CONSTRAINT PK_AUX_MARCACAO PRIMARY KEY (AUXMA_CODIGO) )

CREATE INDEX ID_AUXLG_CHAVE_LOG_MA ON AUX_MARCACAO (AUXLG_CHAVE_LOG)
GRANT SELECT,INSERT,UPDATE,DELETE ON AUX_MARCACAO TO RL_USUARIO_AUXILIAR
GO